body{
    background-color: rgb(168, 104, 227);
}

#counter{
    background-color: rgb(235, 133, 218);
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    margin-top:  180px;
    margin-left: 450px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 3px 5px 40px rgb(158, 37, 199);
}

#number{
    margin-top: 80px;
    font-size: 50px;
    font-weight: 100;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 40px;
    border-radius: 10px;
    border-color:transparent;
    background-color: beige;
    color: rgb(158, 37, 199);
    cursor:pointer;
}